exclude: >
  (?x)^(
      \.eggs|
      \.git|
      \.mypy_cache|
      \.tox|
      \.pyre_configuration|
      \.venv|
      build|
      dist|
      src/findpython/_vendor/.*\.py|
      src/findpython/pep514tools/_registry\.py
  )$

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.9.7'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]

  - repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
